.List {
	height: 100%;
	background: #f4f6fb;
	.userInput {
		display: inline-block;
		width: 135px;
		margin-left: 10px;
	}
	.userDia {
		.el-dialog {
			width: 400px !important;
			border-radius: 4px;
		}
		.el-button {
			width: 80px;
			height: 32px;
			border-radius: 16px;
			line-height: 4px;
		}
		.el-button--success {
			color: #fff;
			background-color: #62cfcd;
			border-color: #62cfcd;
		}
	}
	.header {
		position: absolute;
		height: 100px;
		background: rgba(43, 56, 84, 1);
		width: 100%;
		z-index: 1;
		top: 0;
	}
	.main {
		padding: 30px 30px 10px 30px;
		margin: 0px 20px;
		position: relative;
		top: 40px;
		z-index: 2;
		background: #ffffff;
		border-radius: 4px 4px 0px 0px;
		.el-table th {
			background: rgba(238, 243, 252, 1);
			color: rgba(120, 135, 156, 1);
			line-height: 25px;
		}
		.top {
			height: 50px;
			.list-title {
				display: inline-block;
				font-size: 14px;
				font-family: PingFangSC-Medium;
				font-weight: 500;
				color: rgba(43, 56, 84, 1);
			}
			.add-user {
				float: right;
				background: rgba(98, 207, 205, 1);
				border-radius: 16px;
				width: 120px;
				height: 32px;
				font-weight: 500;
				color: rgba(255, 255, 255, 1);
				line-height: 4px;
			}
		}
		.link {
			color: rgba(43, 47, 192, 1);
			cursor: pointer;
		}
		.pagination {
			margin: 0 auto;
			width: 600px;
			height: 50px;
			position: relative;
			text-align: center;
			.el-pagination {
				top: 15px;
				position: relative;
			}
		}
	}
}
